<style>
  img {
    max-width: 100%;
    /* This rule is very important, please do not ignore this! */
  }

  #canvas {
    height: 600px;
    width: 600px;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
  }
</style>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Add Product</h2>

      <form action="/admin/add-product" enctype="multipart/form-data" method="post">

        <label for="pro_title">Product Title</label>
        <input type="text" name="pro_title" class="form-control mb-4" required>

        <label for="pro_description">Description</label>
        <input type="text" name="pro_description" class="form-control mb-4" required>

        <label for="pro_price">Offer Price</label>
        <input type="number" name="pro_price" class="form-control mb-4" required>

        <label for="pro_offerPrice">Price</label>
        <input type="number" name="pro_offerPrice" class="form-control mb-4" required>

        {{!-- Image crop and preview starts here --}}

        {{!-- 1st Image file --}}
        <div>
          <label for="image1">Image-1</label>
				  <div id="screen1" class="imagePreview image-container" style="height: 350px; width: 100%"></div>
          <button type="button" class="ms-auto me-auto btn bg-warning " id="crop-1" 
            style="display: none; width:  50% ; margin: 1rem 0rem 1rem 0rem;">
            Crop
				  </button>
          <img src="" id="imagePreview-1" alt="" class="imagePreview border my-1" style="height:100px">
          <input type="file" id="image1" name="image1" accept="image/*" class="form-control mb-4 js-photo-upload" required>
        </div>

        {{!-- 2nd Image file --}}
        <div>
          <label for="image2">Image-2</label>
          <div id="screen2" class="imagePreview image-container" style="height: 350px; width: 100%"></div>
          <button type="button" class="ms-auto me-auto btn bg-warning " id="crop-2" 
            style=" margin-top: 0px;  display: none; width:  50% ; margin: 1rem 0rem 1rem 0rem;">
            Crop
				  </button>
          <img src="" id="imagePreview-2" alt="" class="imagePreview border my-1" style="height:100px">
          <input type="file" id="image2" name="image2" accept="image/*" class="form-control mb-4" required>
        </div>
        {{!-- Image crop and preview ends here --}}

        <label for="pro_category">Categories</label>
        <select name="pro_category" id="pro_category" class="form-control mb-4" required>
          <option value="" disabled selected hidden>Choose category</option>
          {{#each categories}}
          <option value="{{this.category}}">{{this.category}}</option>
          {{/each}}
        </select>

        <label for="pro_gender">Gender</label>
        <select name="pro_gender" id="pro_gender" class="form-control mb-4" required>
          <option value="" disabled selected hidden>Choose gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="unisex">Unisex</option>
        </select>

        <label for="pro_stock">Stock count</label>
        <input type="number" name="pro_stock" class="form-control mb-4" required>

        <button type="submit" id="submitButton" class="btn btn-success mt-4">Submit</button>

      </form>
    </div>
  </div>
</div>

<style>
  .imagePreview{display: none;}
</style>

{{!-- Preview and CropperJs functions starts from here --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css"  />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js"></script>

<script>
  const imagebox1 = document.getElementById('screen1');
  const crop_btn1 = document.getElementById('crop-1');
  const input1 = document.getElementById('image1');
  document.getElementById("submitButton").disabled = false;

  input1.addEventListener('change',()=>{
    const imageData1 = input1.files[0]
    const url1 = URL.createObjectURL(imageData1);
    imagebox1.innerHTML = `<img src="${url1}" id="img1" style="width:100%;">`
    const img1 = document.getElementById('img1');
    document.getElementById("submitButton").disabled = true;
    document.getElementById('screen1').style.display = 'block';
    document.getElementById('crop-1').style.display = 'block';
    document.getElementById('imagePreview-1').style.display = 'block';

    const cropper1 = new Cropper(img1, {    
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        minCropBoxWidth: 50,
        minCropBoxHeight: 50,
        aspectRatio: 1 / 1,
    })

    crop_btn1.addEventListener('click', () => {
        cropper1.getCroppedCanvas().toBlob((blob) => {
            let fileInputElement1 = document.getElementById('image1');
            let file1 = new File([blob], imageData1.name, { type: "image/*", lastModified: new Date().getTime() });
            let container1 = new DataTransfer();
            container1.items.add(file1);
            fileInputElement1.files = container1.files;
            document.getElementById('imagePreview-1').src = URL.createObjectURL(fileInputElement1.files[0])
            document.getElementById('screen1').style.display = 'none'
            document.getElementById('crop-1').style.display = 'none'
             if(document.getElementById('crop-2').style.display === 'none'){
                document.getElementById("submitButton").disabled = false;
            }
    
        })
    })
  })

  const imagebox2 = document.getElementById('screen2');
  const crop_btn2 = document.getElementById('crop-2');
  const input2 = document.getElementById('image2');
  document.getElementById("submitButton").disabled = false;

  input2.addEventListener('change',()=>{
    const imageData2 = input2.files[0]
    const url2 = URL.createObjectURL(imageData2);
    imagebox2.innerHTML = `<img src="${url2}" id="img2" style="width:100%;">`
    const img2 = document.getElementById('img2');
    document.getElementById("submitButton").disabled = true;
    document.getElementById('screen2').style.display = 'block';
    document.getElementById('crop-2').style.display = 'block';
    document.getElementById('imagePreview-2').style.display = 'block';

    const cropper2 = new Cropper(img2, {    
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        minCropBoxWidth: 50,
        minCropBoxHeight: 50,
        aspectRatio: 1 / 1,
    })

    crop_btn2.addEventListener('click', () => {
        cropper2.getCroppedCanvas().toBlob((blob) => {
            let fileInputElement2 = document.getElementById('image2');
            let file2 = new File([blob], imageData2.name, { type: "image/*", lastModified: new Date().getTime() });
            let container2 = new DataTransfer();
            container2.items.add(file2);
            fileInputElement2.files = container2.files;
            document.getElementById('imagePreview-2').src = URL.createObjectURL(fileInputElement2.files[0])
            document.getElementById('screen2').style.display = 'none'
            document.getElementById('crop-2').style.display = 'none'
             if(document.getElementById('crop-1').style.display === 'none'){
                document.getElementById("submitButton").disabled = false;
            }
    
        })
    })
  })

  

</script>
