<nav class='navbar navbar-expand-lg navbar-light bg-danger'>
    <a class='navbar-brand text-light font-weight-bold' href='/admin/dashboard'>Admin Panel</a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup'
        aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
        <div class='navbar-nav'>
            <a class='nav-item nav-link text-light active' href='/admin/all-users'>Users </a>
            <a class='nav-item nav-link text-light' href='/admin/categories'>Categories</a>
            <a class='nav-item nav-link text-light' href='/admin/all-products'>Products</a>
            <a class='nav-item nav-link text-light' href='/admin/all-orders'>Orders</a>
            <a class='nav-item nav-link text-light' href='/admin/add-banner'>Banner</a>
            <a href="/admin/admin-logout" class="btn btn-dark text-right text-light ml-5">Logout</a>
        </div>
    </div>
</nav>