<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3 m-5">
        <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile
            phone
            <b class="text-danger">+91 {{user.number}}</b></span>
        <div class="d-flex flex-row mt-5">
            <input type="text" style="max-width: 75px; text-align:center" class="form-control mx-3" autofocus="" />
            <input type="text" style="max-width: 75px; text-align:center" class="form-control mx-3"/>
            <input type="text" style="max-width: 75px; text-align:center" class="form-control mx-3"/>
            <input type="text" style="max-width: 75px; text-align:center" class="form-control mx-3"/>
        </div>
        <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span>
             <span class="font-weight-bold text-danger cursor">Resend</span>
        </div>
    </div>
</div>