
<section class="admin-section bg-white ">
    <div class="container ">
    	<div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 shadow-lg bg-white">
            	<form id="addProductForm" action="/admin/add-products" method="post" enctype="multipart/form-data">
					<h2 class="text-center mb-4 mt-2">Add products</h2>
					<div class="row d-flex justify-content-around">
						<div class="col-5 mb-4">
							<div class="form-group ">
								<label for="model_name">Model No.</label>
								<input type="text" class="form-control" name="model" id="model_name" placeholder="" required>
							</div>
							<p class="text-danger fs-bold">{{modelErr}}</p>
						</div>
						<div class="col-5 mb-4">
							<div class="form-group">
								<label for="brand_name">Brand</label>
								<select class="form-select" name="brand" id="brand_name" aria-label="Default select example" required>
									<option selected></option>
									<option value="PETER ENGLAND">PETER ENGLAND</option>
									<option value="VOGUE">VOGUE</option>
									<option value="TRENDS">TRENDS</option>
									<option value="SALVARIS">SALVARIS</option>
									<option value="SEPTUEGEN">SEPTUEGEN</option>
								</select>
							</div>
						</div>
						<div class="col-3 mb-4">
							<div class="form-group">
								<label for="price">Price</label>
								<input type="number" class="form-control" name="price" id="price" placeholder="" required>
							</div>
						</div>
						<div class="col-3 mb-4">
							<div class="form-group">
								<label for="size">Size</label>
								<input type="text" class="form-control" name="size" id="size" placeholder="" required>
							</div>
						</div>
						<div class="col-3 mb-4">
							<div class="form-group">
								<label for="stock">Stock</label>
								<input type="number" class="form-control" name="stock" id="stock" placeholder="" required>
							</div>
						</div>
						<div class="col-5 mb-4">
							<div class="form-group">
								<label for="category">Category</label>
								<select class="form-select" name="category" aria-label="Default select example" required>
									<option selected></option>
								
									{{#each AllCategory}}
										<option value="{{this.category}}">{{this.category}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="col-5 mb-4">
							<div class="form-group">
								<label for="description">Description</label>
								<textarea class="form-control" name="description" id="description" required rows="3" cols="50"></textarea>
							</div>
						</div>
						<div class="col-5 mb-4">
							{{!-- file 1--}}
							<div class="form-group">
								<label for="imgFile1">Image 1</label>
								<input type="file" class="form-control image" id="imgFile1" accept="image/*" name="image1" required >
								<img src="" id="image-1" alt="" class="imggmi" style="height:100px">
							</div>
							<div style="display:flex">
								<div id="screen1" class="imggmi image-container" style="height: 500px; width: 100%"></div>
							</div>
							<button type="button" class="ms-auto me-auto btn bg-info " id="crop-1" style=" margin-top: 0px;  display: none;
								width:  50% ; margin: 3rem 0rem 0rem 0rem;">
								Crop
							</button> 
						</div>
						<div class="col-5 mb-4">
							{{!-- file 2 --}}
							<div class="form-group">
								<label for="imgFile2">Image 2:</label>
								<input type="file" class="form-control image" id="imgFile2" accept="image/*" name="image2" required >
								<img src="" id="image-2" alt="" class="imggmi" style="height:100px">
							</div>
							<div style="display:flex">
								<div id="screen2" class="imggmi image-container" style="height: 500px; width: 100%"></div> <br>
							</div>
							<button type="button" class="ms-auto me-auto btn bg-info " id="crop-2" style=" margin-top: 0px;  display: none;
								width:  50% ; margin: 3rem 0rem 0rem 0rem;">
								Crop
							</button> 
						</div>
						<div class="col-12 d-flex justify-content-center mb-4">
							<button type="submit" class="btn btn-funky-moon mt-2 col-md-12 w-50 mb-4" id="addbtn">Add</button>
						</div>  
					</div>
            	</form>
        	</div>
    	</div>
	</div>
</section>

<style>
    .imggmi{display: none;}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css"  />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js"></script>

<script>

const imagebox1 = document.getElementById('screen1')
const crop_btn1 = document.getElementById('crop-1')
const input1 = document.getElementById('imgFile1')    
document.getElementById("addbtn").disabled = false;

input1.addEventListener('change', () => {
    const img_data1 = input1.files[0]
    const url1 = URL.createObjectURL(img_data1)
    imagebox1.innerHTML = `<img src="${url1}" id="img1" style="width:100%;">`
    const img1 = document.getElementById('img1')
    document.getElementById("addbtn").disabled = true;
    document.getElementById('screen1').style.display = 'block'
    document.getElementById('crop-1').style.display = 'block'
    document.getElementById('image-1').style.display = 'block'

    const cropper1 = new Cropper(img1, {    
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        minCropBoxWidth: 50,
        minCropBoxHeight: 50,
        aspectRatio: 1 / 1,
    })

    crop_btn1.addEventListener('click', () => {
        cropper1.getCroppedCanvas().toBlob((blob) => {
            let fileInputElement1 = document.getElementById('imgFile1');
            let file1 = new File([blob], img_data1.name, { type: "image/*", lastModified: new Date().getTime() });
            let container1 = new DataTransfer();
            container1.items.add(file1);
            fileInputElement1.files = container1.files;
            document.getElementById('image-1').src = URL.createObjectURL(fileInputElement1.files[0])
            document.getElementById('screen1').style.display = 'none'
            document.getElementById('crop-1').style.display = 'none'
            //document.getElementById("addbtn").disabled = false;
             if(document.getElementById('crop-2').style.display === 'none'){
                document.getElementById("addbtn").disabled = false;
            }
    
        })
    })

})  

// ----------------

const imagebox2 = document.getElementById('screen2')
const crop_btn2 = document.getElementById('crop-2')
const input2 = document.getElementById('imgFile2')    
document.getElementById("addbtn").disabled = false;


input2.addEventListener('change', () => {
    const img_data2 = input2.files[0]
    const url2 = URL.createObjectURL(img_data2)
    imagebox2.innerHTML = `<img src="${url2}" id="img2" style="width:100%;">`
    const img2 = document.getElementById('img2')
    document.getElementById("addbtn").disabled = true;
    document.getElementById('screen2').style.display = 'block'
    document.getElementById('crop-2').style.display = 'block'
    document.getElementById('image-2').style.display = 'block'

    const cropper2 = new Cropper(img2, {    
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        minCropBoxWidth: 50,
        minCropBoxHeight: 50,
        aspectRatio: 1 / 1,
    })

    crop_btn2.addEventListener('click', () => {

        cropper2.getCroppedCanvas().toBlob((blob) => {
            let fileInputElement2 = document.getElementById('imgFile2');
            let file2 = new File([blob], img_data2.name, { type: "image/*", lastModified: new Date().getTime() });
            let container2 = new DataTransfer();
            container2.items.add(file2);
            fileInputElement2.files = container2.files;
            document.getElementById('image-2').src = URL.createObjectURL(fileInputElement2.files[0])
            document.getElementById('screen2').style.display = 'none'
            document.getElementById('crop-2').style.display = 'none'
            //document.getElementById("addbtn").disabled = false;
            if(document.getElementById('crop-1').style.display === 'none'){
                document.getElementById("addbtn").disabled = false;
            }
        
        })
    })

}) 

</script>





