<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-5 m-5">
        <h5 class="m-0">Enter your Mobile Number</h5><span class="mobile-text">Enter the number you want to login. (with country code)</span>
        <div class="d-flex flex-row mt-5">
            <form action="/phonePost" method="post">
                <input type="tel" class="form-control mx-3" name="phone" id="phone"/> 
                <input type="submit" class="btn btn-success my-2 mx-3 " value="submit">
            </form>
        </div>
    </div>
</div>

 
